# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Conda / env
.env
.conda/

# CMake
build/
**/build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/

# Compiled binaries
*.so
*.o
*.a

# Habitat builds
habitat-sim/build/
habitat-lab/build/

# Habitat generated data
my-operations/Replica/
scenes_ve_metadata_locations/
my-operations/rlr_test_out/
my-operations/audio_sim_output/

# Logs
*.log

# Models / data
*.pth
*.pt
*.ckpt


.claude
CLAUDE.md
