attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1727293517607/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1755223865520/work
gitdb==4.0.12
GitPython==3.1.50
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
imageio-ffmpeg==0.6.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459266648/work
llvmlite==0.43.0
matplotlib==3.9.1
munkres==1.1.4
numba==0.60.0
numpy==1.26.4
numpy-quaternion==2023.0.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1751482006338/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1775004608/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1775004520/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
PyQt5==5.15.11
PyQt5_sip==12.17.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470218293/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=e6696cb8683d94467891b7648e068a3970f6bc0a1b3c1aa7f9bc89458eafd2f0
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1745411216123/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.3
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1754731992698/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing_extensions==4.15.0
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692503055/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
